/* 
    Author: Vijay Thapa;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
:root {
    --primary-color: #ebc248;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
}

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 1%;
}
.about_container{
    width: 70%;
    
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color:#ebc248;
    text-decoration: none;
}
a:hover{
    color: #f1d171;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color:var(--primary-color);
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ffc825;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}

.success{
    padding: 2%;
    color: green;
}

/* CSSS for navbar section */

.logo{
    
    float: left;
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
    font-family: Montserrat;  
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 2%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: larger;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../assets/images/Group\ 34.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.about_food_menu{
    background-color: #cecece;
    
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}

/*CSS for nav*/

.nav{
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
}

.menu-wrap{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
/* GRID SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 1rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mb-nav {
    display: none;
}
/* END MOBILE NAV */

.col-xs-1 {
    width: 8.33%;
}

.col-xs-2 {
    width: 16.66%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33%;
}

.col-xs-5 {
    width: 41.66%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33%;
}

.col-xs-8 {
    width: 66.66%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33%;
}

.col-xs-11 {
    width: 91.66%;
}

.col-xs-12 {
    width: 100%;
}

.h-xs {
    display: none;
}
/* ANIMATION */

.left-to-right {
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: .6s ease-in-out;
}

.zoom.start {
    transform: unset;
}

.bottom-up {
    transform: translateY(30%);
    transition: .8s ease-in-out;
}

.bottom-up.start {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: .2s;
}

.delay-4 {
    transition-delay: .4s;
}

.delay-6 {
    transition-delay: .6s;
}

.delay-8 {
    transition-delay: .8s;
}

.delay-10 {
    transition-delay: .10s;
}

.delay-12 {
    transition-delay: .12s;
}


/*CSS for Home Section w/ logo*/

.fullheight{
    height: 100vh;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  
.bg-img-fixed{
    background-attachment: fixed;
}

.slogan{
    text-align: left;
    
}
.slogan h2{
    font-size: 2.7rem;
    font-weight: 300;
    font-family: Montserrat;
    color: var(--grey);
    margin-left: 4.7rem;
    margin-top: 0rem;
}
.slogan h3{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: Montserrat;
    color: var(--grey);
    margin-left: 6rem;
}
.slogan h4{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Montserrat;
    color: var(--grey);
    margin-left: 2.5rem;
}
.logopng{
    width: 25rem;
    
    
}

.footer {
    color: var(--white);
}

.footer h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}


/*CSS for about*/
#about img{
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.about-slogan {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.about-slogan.start {
    transform: translateX(-10rem) !important;
}

.about-slogan h3{
    
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--grey);
}
.about-slogan p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grey);
    
}
.primary-color {
    color: var(--primary-color);
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fullwidth{
    width: 100%;
}

